/*
Jekyll Skeleton
A theme for your Jekyll blog
http://jeremy.tagada.hu/
by Jeremy Herve
License: http://opensource.org/licenses/mit-license.php

CSS built with
	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php
*/

/* Color base
	---------

White: #F1E9E5
Black: #181511
Skin:  #F5C4B7
Pale:  #D0907B
Red:   #BF1B21

*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

ul, ol {
	padding-left: 35px;
	margin: 5px 0;
}


/*	Typography presets
	------------------	*/
	
@font-face {
    font-family: 'OstrichSansBold';
    src: url('ostrich-bold-webfont.eot');
    src: url('ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ostrich-bold-webfont.woff') format('woff'),
         url('ostrich-bold-webfont.ttf') format('truetype'),
         url('ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

h1, h2, h3 {
	color: #181511;
	text-decoration: none;
}

.huge, h1 {
	font-size: 30px;
	line-height: 32px;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

.large, h2 {
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 10px;
}

.bigger, h3 {
	font-size: 22px;
	line-height: 32px;
}

.big, h4 {
	font-size: 18px;
	line-height: 26px;
}

body {
	font: 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

a {
	color: #181511;
	text-decoration: none;
}

a:hover {
	color: #D0907B;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {	
	width: 896px;
	background: url(../images/bg.png) repeat #e8e8e8;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	margin: 0 auto;
}

.container {
	background: #ffffff;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #666;
	margin: 20px 0;
	padding: 20px 48px 20px;
}

header, section {
	padding-bottom: 10px;
	margin-bottom: 20px;
}

/* Header */

header {
	border-bottom: 1px solid #ECEDF3;
}

.site_title {
	font-family: "OstrichSansBold";
	font-size: 130px;
	line-height: 140px;
}

/* Homepage */

.homelist {
	padding: 15px 0;
	border-bottom: 1px solid #ECEDF3;
}

.seemore {
	margin: 0;
	padding: 0;
	background: none;
}

/* Articles */

aside {
	margin: 20px 0;
	padding: 10px;
	background: #F5C4B7;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

blockquote {
	margin: 10px 0;
	padding: 10px 20px;
	font-style: italic;
	font-size: 20px;
	border-left: 3px solid #ECEDF3;
}

.post_nav {
	margin: 15px 0;
	height: 25px;
}

.post_nav  .next {
	float: right;
}

.post_nav  .previous {
	float: left;
}

.related {
	font-size: 20px;
	line-height: 20px;
}

/* Footer */

footer {
	border-top: 1px solid #ECEDF3;
	padding-top: 10px;
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
	}
	
	.container {
		padding: 48px 28px 60px;
	}
	
	.site_title {
		font-size: 100px;
		line-height: 80px;
	}

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
	}
	
	.container {
		padding: 48px 34px 60px;
	}
	
	.site_title {
		font-size: 60px;
		line-height: 60px;
	}
	
	.ribbon {
		display: none;
	}
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
	}
	
	.container {
		padding: 36px 22px 48px;
	}
	
	.site_title {
		font-size: 60px;
		line-height: 40px;
	}
	
	.ribbon {
		display: none;
	}
	
}