<script type="text/javascript" src="/js/fitvids.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("body").fitVids();
		});
</script>

{% if site.gauaid != empty %}
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{ site.gauaid}}']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{% endif %}

{% if site.fb_appid != empty %}
<div id="fb-root"></div>
<script type="text/javascript">
	window.fbAsyncInit = function() {
		FB.init({
			appId:'{{ site.fb_appid }}', 
			cookie:true,
			status:true,
			xfbml:true,
			oauth:true
		});
	};
	(function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/fr_FR/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());
</script>
{% endif %}