<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Jeremy Herve" />
 
<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}jeremy.tagada.hu</title>
<meta name="description" content="{{ page.meta-description }}" />
<meta property="og:site_name" content="Jeremy.tagada.hu" />

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="shortcut icon" href="http://jeremy.tagada.hu/images/favicon.ico" type="image/x-icon" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link href="http://feeds.feedburner.com/jeremytagadahu" rel="alternate" title="Jeremy.tagada.hu" type="application/atom+xml" />

<link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" /> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>  

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
