<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="author" content="{{ site.author }}" />
	 
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico" type="image/x-icon" />
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link href="{{ site.url }}/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
	
	<link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
	
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">

	<header>
		<div class="logo">
			<a title="{{ site.title }}" href="/"><img alt="{{ site.title }}" src="/images/logo.png" /></a>
		</div>
	</header>

	<section>
		{{ content }}
	</section>
	
	<footer>
		<p>&copy; 2011 <a href="/">{{ site.title }}</a></p>
	</footer>

</div>
	
	{% if site.gauaid != empty %}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{ site.gauaid}}']);
		_gaq.push(['_trackPageview']);
	
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	{% endif %}

</body>
</html>
